.app {
  flex-direction: column;
}
* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  flex-grow: 1;
}
.makeStyles-container-9 {
  max-height: 400px !important;
  /* width: 500px !important; */
  scrollbar-width: thin;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.makeStyles-root-5 {
  width: 560px !important;
}
.MuiCard-root {
  margin-top: 50px !important;
}
.MuiCardContent-root:last-child {
  display: flex;

  padding-bottom: 24px;
}
.chartjs-render-monitor {
  width: 800px !important;
  height: 365px !important;
}
.app__bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .MuiCardContent-root:last-child {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
  .makeStyles-root-5 {
    width: 350px !important;
  }
  .chartjs-render-monitor {
    width: 350px !important;
    height: auto !important;
  }
  .app__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .map {
    width: 100vw;
  }
}
.app__copyright {
  color: grey;
  font-weight: 800;
  font-family: Calibri, sans-serif;
  text-align: center;
  padding-bottom: 10px;
}
