* {
  margin: 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 20px;
  /* margin-top: 10px; */
  color: red;
}

.app__header__dropdown {
  background-color: white;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

body {
  background-color: #eee2e7;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-direction: column;
}

.app__top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app__bottom {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}
.app__left {
  flex: 0.8;
}

@media (max-width: 1200px) {
  .app {
    flex-direction: column;
  }
}
.app__middle {
  padding: 0;
}

.app__copyright {
  color: grey;
  font-weight: 800;
  font-family: Calibri, sans-serif;
  text-align: center;
  padding-bottom: 10px;
}
